body{
    background-color: #0C1417;
}
.reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: -50px;
}
input{
    width: 200%;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: large;
    color: white;
    padding-right: 50px;
}
button{
    border-radius: 5px;
    background-color: orange;
    height: 40px;
    width: 200px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}